<template>
	<div>
		<div @click="open = !open" v-bind:class="{accordion__active: open}">
			<slot name="heading" :open="open"></slot>
		</div>
		<div v-show="open" style="display:none">
			<slot name="content"></slot>
		</div>
    </div>
</template>
<script>
    export default {
        props: {
            active: {
		      type: Boolean,
		      default: false
		    },
        },
        data() {
            return {
                open: false
            }
        },
        mounted() {
            this.open = this.active;
        }
    }
</script>