<template>
	<div>
		<a @click="open = true" class="catalog__product__buy">
			<i class="mdi mdi-cart"></i> оставить заявку
		</a>
		<div v-show="open" style="display:none" class="get-bid">
			<div class="grid-container height-100">
				<div class="grid-x grid-margin-x">
					<div class="cell small-9 padding-top-3">
						<div class="get-bid__title text-uppercase margin-bottom-1">
							Оформить заявку
						</div>
					</div>
					<div class="cell small-3 text-right padding-top-3">
						<a class="get-bid__button" @click="open = false">
							<i class="mdi mdi-close"></i> меню
						</a>
					</div>
					<div class="cell small-12">
						<p class="margin-bottom-1">
							Оставьте свои контактные данныеи на менеджер свяжется с вами в ближайщее время.
						</p>
						<p class="margin-bottom-2">
							Поля отмеченные звездочкой обязательны к заполнению.
						</p>
						<form method="POST" action="/bid" class="get-bid__form" v-on:submit.prevent="submit" enctype="multipart/form-data">
							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-6">
									<input type="text" name="name" placeholder="Ваше имя *" class="get-bid__form__input" required v-model="name"/>
						            <input type="tel" name="phone" placeholder="Телефон *" class="get-bid__form__input" required v-model="phone"/>
						            <input type="email" name="email" placeholder="E-mail" class="get-bid__form__input" v-model="email"/>
						            <input type="text" name="company" placeholder="Организация" class="get-bid__form__input" v-model="company"/>
								</div>
								<div class="cell small-12 medium-6">
									<textarea v-model="text" name="text" placeholder="Введите сообщение *" class="get-bid__form__textarea" rows="5"></textarea>
									<div class="text-uppercase position-relative get-bid__form__attach">
										<span class="get-bid__form__attach__text">
											<i class="mdi mdi-file-document"></i>Прикрепить файл
										</span>
										<input type="file" id="file" ref="file" v-on:change="setFile()" class="get-bid__form__attach__file" />
									</div>
								</div>
								<div class="cell small-12">
				            		<button type="submit" class="margin-top-1 get-bid__form__button button warning">
						                отправить
						            </button>
								</div>
							</div>
					    </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
    import PNotify from 'pnotify/dist/es/PNotifyCompat';
    export default {
        components: {
            PNotify
        },
        props: {
            productId: {
		      type: Number
		    }
        },
        data() {
            return {
                open: false,
                name: '',
                phone: '',
                email: '',
                company: '',
                text: '',
                file: '',
            }
        },
        mounted: function() {
            PNotify.defaults.icons = "fontawesome5";
        },
        methods: {
        	setFile: function() {
        		this.file = this.$refs.file.files[0];
        	},
            submit: function() {
            	let data = new FormData();
                data.append('product_id', this.productId);
                data.append('name', this.name);
                data.append('phone', this.phone);
                data.append('email', this.email);
                data.append('company', this.company);
                data.append('text', this.text);
                data.append('file', this.file);
                axios.post('/bid', data, {
                	headers: {'Content-Type': 'multipart/form-data'}
                }).then((response) => {
                    this.name = this.phone = this.email = this.company = this.text = this.file = '';
                    PNotify.success({text: 'Данные успешно отправлены!'});
                    this.open = false;
                }).catch(error => {
                    PNotify.error({text: 'Произошла ошибка!'});
                    console.log(error);
                });
            },
        }
    }
</script>