<template>
	<div>
		<a @click="open = true" class="header__call">
			<strong>Заказать звонок</strong>
		</a>
		<div v-show="open" style="display:none" class="call">
			<div class="grid-container height-100">
				<div class="grid-x grid-margin-x">
					<div class="cell small-9 padding-top-3">
						<div class="call__title text-uppercase margin-bottom-1">
							Заказать звонок
						</div>
					</div>
					<div class="cell small-3 text-right padding-top-3">
						<a class="call__button" @click="open = false">
							<i class="mdi mdi-close"></i> меню
						</a>
					</div>
					<div class="cell small-12">
						<p class="margin-bottom-1">
							Оставьте свои контактные данные и наш менеджер свяжется с вами в ближайщее время.
						</p>
						<p class="margin-bottom-2">
							Поля отмеченные звездочкой обязательны к заполнению.
						</p>
						<form method="POST" action="/bid" class="call__form" v-on:submit.prevent="submit" enctype="multipart/form-data">
							<div class="grid-x grid-margin-x">
								<div class="cell small-12 medium-6">
									<input type="text" name="name" placeholder="Ваше имя *" class="call__form__input" required v-model="name"/>
						            <input type="tel" name="phone" placeholder="Телефон *" class="call__form__input" required v-model="phone"/>
				            		<button type="submit" class="margin-top-1 call__form__button button warning">
						                отправить
						            </button>
								</div>
							</div>
					    </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
    import PNotify from 'pnotify/dist/es/PNotifyCompat';
    export default {
        components: {
            PNotify
        },
        data() {
            return {
                open: false,
                name: '',
                phone: ''
            }
        },
        mounted: function() {
            PNotify.defaults.icons = "fontawesome5";
        },
        methods: {
            submit: function() {
                axios.post('/call', {
                    name: this.name,
                    phone: this.phone
                }).then((response) => {
                    this.name = this.phone = '';
                    PNotify.success({text: 'Данные успешно отправлены!'});
                    this.open = false;
                }).catch(error => {
                    PNotify.error({text: 'Произошла ошибка!'});
                    console.log(error);
                });
            },
        }
    }
</script>