<template>
  <div>
    <vgallery :images="images" :index="index" @close="index = null"></vgallery>
    <div
		class="thumbnail"
		v-for="(image, imageIndex) in images"
		:key="imageIndex"
		@click="index = imageIndex"
		style="width:30%;cursor:pointer"
    >
    	<img v-bind:src="'/image/200/200/' + image" class="width-100">
    </div>
  </div>
</template>
<script>
  import vgallery from 'vue-gallery';
  export default {
    components: {
		  vgallery
    },
  	props: {
        images: {
	      type: Array
	    }
    },
    data() {
		return {
			index: null
		};
    },
  }
</script>