<template>
	<div>
		<a @click="open = true" class="show-for-small-only expanded button warning text-uppercase">
			<i class="mdi mdi-file-excel"></i> Скачать прайс-лист
		</a>
		<a @click="open = true" class="hide-for-small-only button warning text-uppercase">
			<i class="mdi mdi-file-excel"></i> Скачать прайс-лист
		</a>
		<div v-show="open" style="display:none" class="get-price-list">
			<div class="grid-container height-100">
				<div class="grid-x grid-margin-x">
					<div class="cell small-9 padding-top-3">
						<div class="get-price-list__title text-uppercase margin-bottom-1">
							Получение прайс-листа
						</div>
					</div>
					<div class="cell small-3 text-right padding-top-3">
						<a class="get-price-list__button" @click="open = false">
							<i class="mdi mdi-close"></i> меню
						</a>
					</div>
					<div class="cell small-12 medium-6 text-right padding-top-3">
						<p class="margin-bottom-1">
							Вы получите его сразу после заполнения формы ниже.
						</p>
						<p class="margin-bottom-3">
							Поля отмеченные звездочкой обязательны к заполнению.
						</p>
						<form method="POST" action="/price-list" class="get-price-list__form" v-on:submit.prevent="submit">
				            <input type="text" name="name" placeholder="Ваше имя *" class="get-price-list__form__input" required v-model="name"/>
				            <input type="tel" name="phone" placeholder="Телефон *" class="get-price-list__form__input" required v-model="phone"/>
				            <input type="email" name="email" placeholder="E-mail" class="get-price-list__form__input" v-model="email"/>
				            <input type="text" name="company" placeholder="Организация" class="get-price-list__form__input" v-model="company"/>
				            <button type="submit" class="margin-top-1 get-price-list__form__button button warning">
				                отправить
				            </button>
					    </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
    import PNotify from 'pnotify/dist/es/PNotifyCompat';
    export default {
        components: {
            PNotify
        },
        props: {
            priceList: {
		      type: String
		    }
        },
        data() {
            return {
                open: false,
                name: '',
                phone: '',
                email: '',
                company: '',
            }
        },
        mounted: function() {
            PNotify.defaults.icons = "fontawesome5";
        },
        methods: {
            submit: function() {
                axios.post('/price-list', {
                    name: this.name,
                    phone: this.phone,
                    email: this.email,
                    company: this.company,
                }).then((response) => {
                    this.name = this.phone = this.email = this.company = '';
                    // window.open(this.priceList, '_blank');

					let a = document.createElement('a');
					a.href = this.priceList;
					a.download = this.priceList.substr(this.priceList.lastIndexOf('/') + 1);
					document.body.appendChild(a);
					a.click();
					document.body.removeChild(a);

                    PNotify.success({text: 'Данные успешно отправлены!'});
                    this.open = false;
                }).catch(error => {
                    PNotify.error({text: 'Произошла ошибка!'});
                    console.log(error);
                });
            },
        }
    }
</script>