<template>
    <slider :interval="interval" class="slider-main">
        <slider-item v-for="(slide, index) in slides" :key="index">
            <div class="slider-main__slide" v-bind:style="{'background-image': 'url(' + slide.image + ')'}">
                <div class="grid-container">
                    <div class="slider-main__slide__content padding-top-3">
                        <div class="slider-main__slide__content__title margin-bottom-1 width-50">
                            <a v-bind:href="slide.url" style="color:#000 !important">
                                {{ slide.title }}
                            </a>
                        </div>
                        <a v-bind:href="slide.url" class="button slider-main__slide__content__link">
                            подробнее
                        </a>
                    </div>
                </div>
            </div>
        </slider-item>
    </slider>
</template>

<script>
    import { Slider, SliderItem } from 'vue-easy-slider';
    export default {
        props: [
            'slides'
        ],
        components: {
            Slider, SliderItem
        },
        data() {
            return {
                interval: 50000
            }
        }
    }
</script>