<template>
    <div class="slider-products padding-top-2">
        <div class="header_wrapper yellow margin-bottom-1">
            <div class="grid-container header_wrapper_m yellow header_wrapper_m_left text-center">
                <h1 class="header_title yellow">
                    Продукция
                </h1>
            </div>
        </div>
        <slider :interval="interval">
            <slider-item v-for="(slide, index) in slides" :key="index">
                <div class="slider-products__slide">
                    <div class="grid-container">
                        <div class="slider-products__slide__image margin-bottom-1 text-center" v-bind:style="{'background-image': 'url(' + slide.background + ')'}">
                            <a v-bind:href="'/catalog/' + slide.slug">
                                <img v-bind:src="'/image/360/360/' + slide.image">
                            </a>
                        </div>
                        <div class="slider-products__slide__title margin-bottom-1 text-center text-uppercase">
                            <a v-bind:href="'/catalog/' + slide.slug" style="color:#000 !important">
                                {{ slide.title }}
                            </a>
                        </div>
                        <div class="slider-products__slide__description margin-bottom-1 text-center">
                            {{ slide.text }}
                        </div>
                        <div class="slider-products__slide__link margin-bottom-1 text-center">
                            <a v-bind:href="'/catalog/' + slide.slug" class="button">
                                перейти в раздел
                            </a>
                        </div>
                    </div>
                </div>
            </slider-item>
        </slider>
    </div>
</template>

<script>
    import { Slider, SliderItem } from 'vue-easy-slider';
    export default {
        props: [
            'slides'
        ],
        components: {
            Slider, SliderItem
        },
        data() {
            return {
                interval: 50000
            }
        }
    }
</script>