<template>
    <form method="POST" action="/subscribe" class="subscribe" v-on:submit.prevent="submit">
        <div class="subscribe__form">
            <input type="email" name="email" placeholder="E-mail" class="margin-0 subscribe__form__input" required v-model="email"/>
            <button type="submit" class="subscribe__form__button button warning">
                <i class="mdi mdi-chevron-right"></i>
            </button>
        </div>
    </form>
</template>
<script>
    import PNotify from 'pnotify/dist/es/PNotifyCompat';
    export default {
        components: {
            PNotify
        },
        data() {
            return {
                email: ''
            }
        },
        mounted: function() {
            PNotify.defaults.icons = "fontawesome5";
        },
        methods: {
            submit: function() {
                axios.post('/subscribe', {
                    email: this.email,
                }).then((response) => {
                    this.email = '';
                    PNotify.success({text: 'Вы успешно подписались на рассылку новостей!'});
                }).catch(error => {
                    PNotify.error({text: 'Произошла ошибка!'});
                    console.log(error);
                });
            },
        }
    }
</script>