.accordion {
	&__link {
		background: $yellow;
		font-size: rem-calc(18);
		color: $black;
		border-bottom: 2px solid $white;
  		cursor: pointer;
  		margin: 0;
  		line-height: rem-calc(36);
		@include breakpoint(small only) {
	        font-size: rem-calc(14);
	    }
	}
	&__active {
		background: $white !important;
	}
	&__content {
		font-size: rem-calc(13);
		color: rgb(48, 48, 48);
		font-family: "Montserrat";
	}
}