.footer {
	border-top: 5px solid $yellow;
	&__title {
		font-size: rem-calc(20);
		color: $black;
		font-weight: 800;
	}
	&__menu {
		&__link {
			padding: .3rem 0 !important;
			font-size: rem-calc(13);
			color: $black;
			font-family: "Montserrat";
		}
	}
}