.header {
	height: 130px;
	&__search {
		position: relative;
		&__input {
			height: 30px;
		}
		&__button {
			position: absolute;
		    top: 1px;
		    bottom: 1px;
		    right: 1px;
		    margin: 0;
		    line-height: 30px;
		    height: 28px;
		    padding: 0;
		    width: 28px;
		}
	}
	&__phone {
		font-size: rem-calc(13);
		color: $black2;
		font-family: "Montserrat";
	}
	&__call {
		font-size: rem-calc(13);
		color: $black2;
		font-family: "Montserrat";
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	&__menu_button {
		font-size: rem-calc(13);
		color: $black2;
		font-family: "Montserrat";
	}
	&__menu {
	    position: fixed;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    background: $black;
	    z-index: 3000;
	    &__footer {
			font-size: rem-calc(13);
			color: $white;
			font-family: "Montserrat";
	    	&__title {
				font-size: rem-calc(20);
				color: $white;
				font-weight: 800;
				border-bottom: 1px solid $yellow;
	    		&.white {
					border-bottom: 1px solid $white;
					font-weight: normal;
	    		}
	    	}
	    	a {
	    		color: $white;
	    	}
	    }
	    &__button {
			font-size: rem-calc(13);
			color: $white;
			font-family: "Montserrat";
			&:hover {
				color: $yellow;
			}
	    }
	    &__ul {
	    	&__a {
				font-size: rem-calc(45);
				color: $white;
				font-weight: 800;
				padding-left: 0 !important;
				@include breakpoint(small only) {
			        font-size: rem-calc(22);
			    }
				&:hover, &.active {
					color: $yellow;
				}
	    	}
	    }
	}
}