.get-price-list {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $black;
    z-index: 3000;
	font-size: rem-calc(13);
	color: $white;
	font-family: "Montserrat";
	&__title {
		font-size: rem-calc(45);
		color: $white;
		font-weight: 800;
		@include breakpoint(small only) {
	        font-size: rem-calc(22);
	    }
	}
	&__form {
		&__input {
			background-color: transparent;
			border: 1px solid #d0d0d0;
			color: $white;
			&:focus {
				background-color: transparent;
				border: 1px solid $yellow;
			}
		}
		&__button {

		}
	}
	&__button {
		font-size: rem-calc(13);
		color: $white;
		font-family: "Montserrat";
		&:hover {
			color: $yellow;
		}
	}
}