.filter-button {
    @include breakpoint(small only) {
        font-size: rem-calc(10);
    }
}
.header_wrapper {
    position: relative;
    &:before {
        position: absolute;
        left: 0;
        right: 0;
        content: "";
        background: #d1d1d1;
        height: 1px;
        top: 50%;
        z-index: 1;
    }
    &.yellow {
        &:before {
            background: #d8b52b;
        }
    }
    &_m {
        position: relative;
        &_left {
            &:before {
                left: 0;
                right: inherit;
            }
        }
        &:before {
            position: absolute;
            right: 0;
            content: "";
            z-index: 1;
            width: 68px;
            height: 47px;
            background: url('/uploads/images/m.png') no-repeat 50% 50%;
            top: 50%;
            margin-top: -30px;
            background-color: #f2f2f2;
        }
        &.white {
            &:before {
                background-color: #212121;
            }
        }
        &.yellow {
            &:before {
                background-color: $yellow;
                background: url('/uploads/images/m2.png') no-repeat 50% 50%;
            }
        }
    }
}
.header_title {
    font-size: rem-calc(65);
    color: $black;
    font-weight: 800;
    text-transform: uppercase;
    background: $medium-gray;
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0;
    @include breakpoint(small only) {
        font-size: rem-calc(22);
    }
    &.white {
        background: #212121;
        color: $white;
    }
    &.small {
        font-size: rem-calc(30);
        font-family: "Montserrat";
        font-weight: normal;
        @include breakpoint(small only) {
            font-size: rem-calc(18);
        }
    }
    &.yellow {
        background: $yellow;
    }
}
.breadcrumbs {
    a {
        text-decoration: underline !important;
        &:hover {
            text-decoration: none !important;
        }
    }
}

.button {
    &:hover {
        color: $black !important;
        background: $yellow !important;
        border: 1px solid $dark-gray !important;
    }
}