.articles {
	&__list {
		&__item {
			background: $white;
			border-right: 1px solid #c0b8aa;
			&__title {
				font-size: rem-calc(20);
				color: $black;
				font-weight: 800;
				line-height: rem-calc(24);
			}
			&__anonce {
				font-size: rem-calc(13);
				color: $black2;
				font-family: Montserrat;
			    overflow: hidden;
			    height: 80px;
			}
			&__more {
				font-size: rem-calc(13);
				color: rgb(19,19,19);
				font-family: Montserrat;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
			&__date {
				font-size: rem-calc(13);
				color: $black2;
				font-family: Montserrat;
			}
		}
	}
}
.article {
	&__item {
		background: $white;
		box-shadow: 0 0 16px rgba(0,0,0,0.1);
		&__title {
			font-size: rem-calc(20);
			color: $black;
			font-weight: 800;
			line-height: rem-calc(24);
		}
		&__back {
			font-size: rem-calc(13);
			color: rgb(19,19,19);
			font-family: Montserrat;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		&__date {
			font-size: rem-calc(13);
			color: $black2;
			font-family: Montserrat;
		}
	}
}