.about {
	&__block {
		border-radius: 10px;
		box-shadow: 0 0 16px rgba(0,0,0,0.1);
		background-color: #ffffff;
		position: relative;
		&__icon {
			position: absolute;
			width: 90px;
			height: 90px;
			top: -45px;
			left: 50%;
			margin-left: -45px;
		}
		&__title {
			font-size: rem-calc(20);
			color: $black;
			font-weight: 800;
			@include breakpoint(small only) {
		        font-size: rem-calc(16);
		    }
		}
		&__hr {
			border-bottom: 1px solid #f1cb2f;
			width: 50%;
		}
		&__text {
			font-size: rem-calc(13);
			color: rgb(48,48,48);
			font-family: "Montserrat";
		}
	}
}