.contacts {
	&__map {
		border-top: 5px solid $yellow;
	}
	&__employees {
		background-color: #212121;
	}
}

.employees {
	&__employee {
		&__name {
			font-size: rem-calc(20);
			color: $white;
			font-weight: 800;
		}
		&__position {
			font-size: rem-calc(13);
			color: $yellow;
			font-family: "Montserrat";
		}
		&__email {
			font-size: rem-calc(13);
			color: #949494;
			font-family: "Montserrat";
		}
		&__phone {
			font-size: rem-calc(13);
			color: #949494;
			font-family: "Montserrat";
		}
		&__link {
			color: $white;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}