.contacts-map {
	border-top: 5px solid $yellow;
	position: relative;
	&__header {
		position: absolute;
		top: 20px;
		left: 0;
		right: 0;
		&__title {
		    padding: 0 1rem;
			background: $yellow;
			font-size: rem-calc(65);
			color: $black;
			font-weight: 800;
			@include breakpoint(small only) {
		        font-size: rem-calc(22);
		    }
		}
	}
	&__content {
	    position: absolute;
	    bottom: 0;
	    &__block {
			font-size: rem-calc(13);
			color: $black;
			font-family: "Montserrat";
			background: $white;
			&__title {
				font-size: rem-calc(20);
				color: $black;
				font-weight: 800;
				border-bottom: 1px solid $yellow;
			}
	    }
	}
}