.catalog {
	&__header {
	    background-repeat: no-repeat;
	    background-position: 50% 50%;
	    background-color: $medium-gray;
	    background-size: cover;
		&__text {
			background-color: #1f1f1f;
			font-size: rem-calc(13);
			color: $white;
			font-family: "Montserrat";
		}
		&__image {
			border-radius: 50%;
		}
	}
	&__categories {
		background-color: #ffffff;
		border-right: 1px solid #c0b8aa;
		&__header {
			font-size: rem-calc(20);
			color: $black;
			font-weight: 800;
		}
		&__menu {
			&__link {
				padding: .3rem 0 !important;
				font-size: rem-calc(13);
				line-height: rem-calc(30) !important;
				color: $black;
				font-family: "Montserrat";
				text-decoration: underline !important;
				&:hover {
					text-decoration: none !important;
				}
			}
		}
	}
	&__products {
		&__product {
			background-color: #ffffff;
			border-right: 1px solid #c0b8aa;
			&__title {
				font-size: rem-calc(20);
				color: $black;
				font-weight: 800;
			}
			&__character {
				font-size: rem-calc(13);
				color: rgb(48,48,48);
				font-family: "Montserrat";
			}
			&__buy {
				font-size: rem-calc(13);
				color: rgb(19,19,19);
				font-family: "Montserrat";
				font-weight: 800;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
			&__more {
				font-size: rem-calc(13);
				color: rgb(19,19,19);
				font-family: "Montserrat";
				font-weight: 800;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}