.catalog {
	&__product {
		background-color: $white;
		box-shadow: 0 0 16px rgba(0,0,0,0.1);
		&__title {
			font-size: rem-calc(20);
			color: $black;
			font-weight: 800;
		}
		&__character {
			font-size: rem-calc(13);
			color: rgb(48,48,48);
			font-family: "Montserrat";
		}
		&__buy {
			font-size: rem-calc(13);
			color: rgb(19,19,19);
			font-family: "Montserrat";
			font-weight: 800;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}