.slider-main {
	min-height: 400px;
	&__slide {
		min-height: 400px;
		background-color: $yellow;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		&__content {
			&__title {
				font-size: rem-calc(65);
				line-height: rem-calc(76);
				color: $black;
				font-weight: 800;
				@include breakpoint(small only) {
			        font-size: rem-calc(22);
					line-height: rem-calc(24);
			    }
			}
			&__link {

			}
		}
	}
}