.slider-products {
	background-color: $yellow;
	.slider {
		background-color: $yellow;
		min-height: 600px;
		.btn-right, .btn-left {
			background: transparent !important;
	   		top: -100px;
		}
		.btn-right {
			right: 60px;
		}
		.btn-left {
			left: 60px;
		}
	}
	&__slide {
		min-height: 400px;
		&__image {
			background-image: url('/uploads/images/slide2-background.jpg');
			background-repeat: no-repeat;
			background-position: 50% 50%;
			img {
				background-color: $white;
				border-radius: 50%;
				width: 370px;
				height: 370px;
			}
		}
		&__title {
			font-size: rem-calc(30);
			color: $black;
			font-family: "Montserrat";
		}
		&__description {
			font-size: rem-calc(13);
			color: $black;
			font-family: "Montserrat";
		}
		&__link {

		}
	}
}